/* ================================= 
  Base Element Styles
==================================== */
* {
	box-sizing: border-box;
}
body {
	font: 1em/1.5 'Lato', sans-serif;
	color: #352c2d;
	background: #ffffff;;
    margin: 0;
    overflow-x:hidden;
}
p {
	font-size: 1em;
    font-weight: 300;
}
a {
    text-decoration: none;
}
h1,
h3,
h5,
h4,
.btn,
nav a,
.containerPhone,
.btnBook,
.detailBtn,
.detailBtnWhite {
    text-transform: uppercase;
}
h1,
h3,
h4,
.bannerAd,
.containerPhone,
.btnBook {
    color: #fff;
}
h1 {
    font-size: 4.375em;
    line-height:0;
    letter-spacing: .15em;
    margin-top: 0 em;
    font-weight: 700;
}
h2 {
    font-size: 3.125em;
    line-height: 1.1;
    font-weight: 300;
}
h3 {
    font-size: 2.5em;
    line-height: 0;
    color:#352c2d;
    font-weight: 700;
}
h4 {
    font-size: 1.5em;
    line-height: 0;
    margin: 0;
    font-weight: 400;
}
h5 {
    font-size: 0.8125em;
    line-height: 0;
    color: #f67f21;
    letter-spacing: .2em;
    margin: 0;
}

/* ================================= 
  Base Layout Styles
==================================== */
/* ---- Header Nav ---- */
.navHeader {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
}
.leftHeader,
.rightHeader {
    height: inherit;
}
.leftHeader {
    float: left;
    width: 30%;
}
.rightHeader {
    float: right;
    text-align: right;
    width: 70%;
}

/* ---- Slider ---- */
.slider {
    position: relative;
}

/* ---- Form ---- */
.bookingForm {
    position: absolute;
    bottom: -8%;
    width: 100%;
    z-index: 2;
}
.containerForm {
    width: 1170px;
    margin: auto;
    position: relative;
}

/* ---- About ---- */
.aboutSection {
    margin: auto;
    max-width: 1170px;
}
.aboutContainer {
    margin-top: 12em;
}
.aboutCol {
    width: 50%;
    padding: 0 2em;
    margin-bottom: 10em;
}
.aboutCol:first-child {
    padding-left: 0;
    float: left;
}
.aboutCol:last-child {
    padding-right: 0;
    float: right;
    text-align: right;
}
.detailBtnContainer {
    margin-top: 4em;
}
.aboutImgContainer {
    position: relative;
}
.img2Container {
    position: absolute;
    bottom: -8em;
    right: -8em;
    border: 1.3em solid #fff;
}

/* ---- Features ---- */

.featureContainer {
    width: 100%;
    display: flex;
    max-width: 1920px;
    margin: auto;
}
.featureCol {
    width: 25%;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    margin: 0 .2em;
}
.featureCol:first-child {
    margin-left: 0;
}
.featureCol:last-child {
    margin-right: 0;
}

/* ---- News ---- */
.newsSection {
    margin: auto;
    max-width: 1170px;
    margin-top: 8em;
    margin-bottom: 6em;
}

/* ---- Ad Banner ---- */
.adBannerSection {
    width: 100%;
    max-width: 1920px;
    margin: auto;
    background: url(../image/veriu-banner.jpg);
    height: 565px;
    position: relative;
}

/* ---- Footer ---- */
footer {
    margin: auto;
    max-width: 1170px;
    text-align: center;
    margin-top: 5em;
}
/* ================================= 
  Page Elements
==================================== */
/* ---- Header Nav ---- */
.navBorder {
    position: relative;
    height: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.logoHeader {
    display: inline-block;
    width: 6.875em;
}
.containerLogo,
.containerPhone {
    float: left;
}
.containerNav,
.containerBtn {
    display: inline-block;
    padding-top: 2.5em;
}
.containerNav {
    padding-right: 1.2em;
}
.containerBtn {
    padding-right: 5em;
    padding-left: 2.6em;
}
.containerNav,
.containerLogo {
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    height: inherit;
}
.containerLogo {
    padding: 1.25em 3.125em 0 5em;
}
.containerPhone {
    padding: 2.9em 0 0 3.125em;
}
.containerPhone {
    font-size: 0.875em;
    font-weight: 700;
}
.numberPhone {
    padding-left: 5px;
    font-weight: 300;
}
.dropdownNav {
    position: relative;
    display: inline-block;
    height: 100px;
}
.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    margin-top: .7em;
    padding-left: 1.2em;
    min-width: 15em;
    border-radius: .5em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdownContent a {
    text-decoration: none;
    display: block;
    color: #352c2d;
    text-align: left;
}
.dropdownContent a:hover {
    color: #f67f21;
}
.dropdownNav:hover .dropdownContent {
    display: block;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav li {
    list-style-type: none;
    display: inline;
    padding-right: 2rem;
}
nav li i {
    padding-left: 5px;
}
nav a {
    list-style-type: none;
    display: inline;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875em;
    font-weight: 400;
}
nav a:hover {
    color: rgba(255, 255, 255, 0.7);
}
.navMobile {
    display: none;
}
.stickyNav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #352c2d;
}
/* ---- Slider ---- */
.bannerSlider {
    display: none;
}
.slideImg {
    width: 100%;
}
.slideContainer {
    max-width: 100%;
    position: relative;
    margin: auto;
}
.slideCaption h4 {
    padding-bottom: 3em;
    font-weight: 300;
    letter-spacing: .1em;
}
.slideCaption {
    position: absolute;
    top:38%;
    text-align: center;
    width:100%;
}
.dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 24px 0;
    background-color:rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    transition: background-color 0.6s ease;
}
.dot:hover {
    background-color: rgba(255, 255, 255, 0.7);
}
.activeDot {
    background-color: #fff;
    box-shadow: 0 0 10px #f67f21;
}
.verLine {
    border-right: 1px solid #fff;
    height: 350px;
    width: 8px;
}
.dotContainer {
    position: absolute;
    bottom: 0;
    right: 11.5%;
}
.prev,
.next {
    display:none;
    position: absolute;
    cursor: pointer;
    top: 50%;
    color: white;
    font-size: 2em;
    transition: 0.6s ease;
    user-select: none;
}
.prev {
    content:"/f053";
    padding-left: 2em;
}
.next {
    content:"/f054";
    right: 0;
    padding-right: 2em;
}
.prev:hover,
.next:hover {
    opacity: .5;
}

/* ---- Button ---- */
.detailBtn,
.detailBtnWhite {
    border-radius: 2em;
    background-color: transparent;
    text-align: center;
    padding: 1.1em 2em;
    transition: opacity 0.3s ease;
    font-size: .875em;
    font-weight: 400;
}
.detailBtn {
    border: 1px solid #514445;
    color: #514445;
}
.detailBtnWhite {
    border: 1px solid #fff;
    color: #fff;
}
.detailBtnWhite:hover,
.detailBtn:hover {
    opacity: .6;
}
.btn {
    border-radius: 2em;
    background-color: #fff;
    text-align: center;
    padding: 1.1em 2.2em;
    color: #514445;
    transition: background-color 0.3s ease;    
}
.btn:hover {
    background-color:#d6d6d6;
}
.btnBook i {
    margin-right: .7em;
    color: #f67f21;
}
.btnBook:hover {
    opacity: .6;
}
.submitBtn {
    cursor: pointer;
    background-color: #f67f21;
    color: #fff;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.4em;
    border: none;
    height: 150px;
    width: 230px;
    margin: auto;
    position: absolute;
    right: 0;
    transition: opacity 0.3s ease;
}
.submitBtn:hover {
    opacity: .9;
}
.submitBtn:focus {
    outline: 0;
}
.submitBtnIcon {
    font-size: 2.7em;
    opacity: .4;
}
.submitBtnText {
    text-align: left;
    display: inline-block;
    padding-left: 1em;
}
.submitBtnText > p {
    line-height: 1.5;
}
/* ---- Booking Form ---- */
.checkin label,
.checkout label,
.location label {
    color: #f67f21;
    text-transform: uppercase;
    line-height: 0;
}
input[type=text] {
    border: none;
    margin-top: 1em;
    display: inline-block;
    font-size: 1.5em;
    font-weight: 300;
    color: #352c2d;
}
.datepickerDate {
    display:block;
    font-size: 2.5em;
    font-weight: 700;
}
.datepickerMonthYear {
    display:block;
    font-size: .8em;
    text-transform: uppercase;
}
.datepickerDayName {
    font-size: .8em;
    color: #f67f21; 
}
.whereIcon {
    float: left;
    padding-top: 1rem;
}
select {
    cursor: pointer;
    font-size: 0.8125em;
    background: transparent;
    border: none;
    color:#352c2d;
    width: 15em;
    text-transform: uppercase;
    outline: none;
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}
select.selectIcon {
    background: url(../image/where-icon.png);
    background-repeat: no-repeat;
    background-position: 95% 55%;
}
.containerSelect {
    padding-top: 2.3em;
    padding-left: 2.5em;
}
.checkin,
.checkout,
.location {
    width: 24.5%;
    margin-top: 1.7em;
}
.location {
    margin-left: 2.5em;
}
.checkout {
    border-right: 1px solid rgba(0,0,0,0.2);
    margin-left: 2.5em;
}
.checkin {
    border-right: 1px solid rgba(0,0,0,0.2);
    margin-left: 1.8em;
}
form {
    background-color: #fff;
    box-shadow: 0px 8px 30px 0px rgba(0,0,0,0.2);
    height: 150px;
    display: flex;
	flex-direction: row;
    align-items: flex-start;
}

/* ---- About ---- */
.aboutCol > p {
    line-height: 1.7em;
    margin-bottom: 1.5em;
}
.aboutCol > div > h5 {
    float: left;
    margin-top: 0;
    padding-top: 0;
}
.horizonLine {
    height: 1px;
    border-top:1px solid rgba(0,0,0,0.2);
    margin-left: 5em;
    margin-top: .3em;
}
.aboutCol > div > p {
    margin-right: 2em;
}

/* ---- Features ---- */
.imgContainer h4 {
    position: absolute;
    letter-spacing: .2em;
    width: 100%;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -50%);   
}
.imgContainer {
    position: relative;
    text-align: center;
}
.overlayImage {
    color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0; 
	left: 0;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    background: rgba(0,0,0, .65);
    opacity: 0;
    transition: .5s;
    text-align: center;
    max-height: 610px;
}
.overlayImage:hover {
    opacity: 1;
}
.featureCol:hover  .imgContainer h4 {
    display: none;
}
.overlayImage img {
    height: 80px;
    opacity: .4;
}
.overlayImage h4 {
    letter-spacing: .2em;
    margin: 1em 0 2em 0;
}
.overlayImage p {
    width: 80%;
    margin: 0 auto 4em auto;
}

/* ---- News ---- */
.newsHeader {
    margin-bottom: 5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.leftHorizonLine,
.rightHorizonLine {
    height: 1px;
    border-top:1px solid rgba(0,0,0,0.2);
    width: 5.15em;
    margin-top: .3em;
}
.leftHorizonLine {
    margin-right: 1em;
}
.rightHorizonLine {
    margin-left: 1em;
}
.newsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.articleContainer {
    flex-grow: 1;
    background-color: #f1f1f1;
    max-width: 370px;
    margin-left: 1.9em;
    transition: box-shadow 0.3s ease;
}
.articleContainer:hover {
    background-color: #fff;
    -webkit-box-shadow: -1px 0px 13px 3px rgba(0,0,0,0.21);
    -moz-box-shadow: -1px 0px 13px 3px rgba(0,0,0,0.21);
    box-shadow: -1px 0px 13px 3px rgba(0,0,0,0.21);
}
.articleContainer:first-child {
    margin-left: 0;
}
.textContainer {
    padding: 2em 1.5em;
}
.textContainer h5 {
    font-weight: 300;
    margin-bottom: 1.5em;
}
.textContainer a {
    color: #352c2d;
    font-size: 1.1em;
}
.textContainer a:hover {
    color: #f67f21; 
}
.articleAuthor {
    padding-top: 1em;
    font-weight: 400 !important;
}
.articleAuthor span {
    color: #352c2d;
}
/* ---- Ad Banner ---- */
.adBannerContainer {
    text-align: center;
}
.veriu {
    position: absolute;
    bottom: 2.5em;
    right: 1.3em;
    z-index: 2;
    transition: opacity 0.3s ease;
}
.veriu:hover {
    opacity: .5;   
}
.veriuBackground {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 300px;
    border-bottom: solid 150px #000000;
    border-right: solid 150px #000000;
    border-left: solid 150px transparent;
    border-top: solid 150px transparent;
    z-index: 1;
}
.adBannerContent {
    padding-top: 4em;
}
.adBannerContent p {
    width: 50%;
    margin: auto;
    color: rgba(255, 255, 255, .9);
    font-size: 1.4em;
    line-height: 1.6em;
    padding-top: 1em;
    padding-bottom: 5em;
}

/* ---- Footer ---- */
.socialLink {
    margin-top: 2em;
    margin-bottom: 2em;
}
.socialLink a {
    margin-left: 1.2em;
    color: rgba(0,0,0,0.5);
    font-size: 1.1em;
}
.socialLink a:first-child {
    margin-left: 0;
}
.socialLink a:hover {
    color: #f67f21;
}
.footerNav li a {
    text-transform: uppercase;
    color: #352c2d;
}
.bottomFooter li a:hover,
.footerNav li a:hover {
    color: #f67f21;
}
.footerNav li {
    list-style-type: none;
    display: inline-block;
    padding-left: 1.7em;
    padding-bottom: 1.7em;
}
.bottomFooter li:first-child,
.footerNav li:first-child {
    padding-left: 0;
}
.topFooter {
    border-bottom:1px solid rgba(0,0,0,0.2);
    margin-bottom: 1.5em;
}
.bottomFooterContainer {
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.bottomFooter ul {
    padding: 0;
}
.bottomFooter li a {
    color: #352c2d;
    font-size: .9em;
    font-weight: 300;
}
.bottomFooter li {
    list-style-type: none;
    display: inline-block;
    padding-left: 1.7em;
}
.bottomFooter span {
    font-size: .7em;
    color: rgba(0,0,0,0.4);
    padding-bottom: 1em;
}
.newsletterFooter {
    width: 335px;
}
.newsletterFooter h5 {
    margin-top: 1.5em;
    margin-bottom: 1em;
    letter-spacing: 0;
}
/* ---- Clearfix ---- */
.clearFix::after {
    content: "";
    display: table;
    clear: both;
}