h1, h4, .containerPhone, .numberPhone, .dropdownNav .navText, .btnBook {
  text-transform: uppercase;
  color: white;
}

h3, .dropdownContent a, select, .footerNav li a {
  text-transform: uppercase;
  color: #352c2d;
}

nav li, nav a {
  list-style-type: none;
  display: inline;
}

.detailBtn, .detailBtnWhite, .submitBtn, .veriu {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.checkin label, .checkout label, .location label {
  color: #f67f21;
  text-transform: uppercase;
  line-height: 0;
}

.checkin label, .checkout label {
  display: block;
  margin-top: 1em;
}

/* ================================= 
  Base Element Styles
==================================== */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
  color: #352c2d;
  background: white;
  overflow-x: hidden;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  font-size: 1em;
  font-weight: 300;
}

h1 {
  font-size: 4.375em;
  font-weight: 700;
  line-height: 0;
  letter-spacing: .15em;
  margin-top: 0;
}

h2 {
  font-size: 3.125em;
  font-weight: 300;
  line-height: 1.1;
}

h3 {
  font-size: 2.5em;
  font-weight: 700;
  line-height: 0;
}

h4 {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 0;
  margin: 0;
}

h5 {
  font-size: 0.8125em;
  font-weight: 400;
  line-height: 0;
  text-transform: uppercase;
  color: #f67f21;
  margin: 0;
  letter-spacing: .2em;
}

/* ================================= 
  Base Layout Styles
==================================== */
/* ---- Header Nav ---- */
.navHeader {
  width: 100%;
  background: #352c2d;
  position: fixed;
  top: 0;
  z-index: 3;
}

.leftHeader {
  width: 30%;
  float: left;
  height: inherit;
}

.rightHeader {
  text-align: right;
  width: 70%;
  float: right;
  height: inherit;
}

/* ---- Slider ---- */
.slider {
  position: relative;
}

/* ---- Form ---- */
.bookingForm {
  width: 100%;
  position: absolute;
  bottom: -8%;
  z-index: 2;
}

.containerForm {
  position: relative;
  width: 1170px;
  margin-top: auto;
  margin-left: auto;
  margin-bottom: auto;
  margin-right: auto;
}

/* ---- About ---- */
.aboutSection {
  margin: auto;
  max-width: 1170px;
}

.aboutContainer {
  margin-top: 12em;
}

.aboutCol {
  padding: 0 2em;
  width: 50%;
  margin-bottom: 10em;
}

.aboutCol :first-child {
  padding-left: 0;
  float: left;
}

.aboutCol :last-child {
  padding-right: 0;
  float: right;
  text-align: right;
}

.aboutCol > p {
  line-height: 1.7em;
  margin-bottom: 1.5em;
}

.aboutCol > div > h5 {
  float: left;
  margin-top: 0;
  padding-top: 0;
}

.aboutCol > div > p {
  margin-right: 2em;
}

.detailBtnContainer {
  margin-top: 4em;
}

.aboutImgContainer {
  position: relative;
}

.img2Container {
  position: absolute;
  right: -8em;
  bottom: -8em;
}

.img2about {
  border: 1.3em solid white;
}

/* ---- Features ---- */
.featureContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1920px;
  width: 100%;
  margin-top: 0;
  margin-left: auto;
  margin-bottom: 0;
  margin-right: auto;
}

.featureCol {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  overflow: hidden;
  width: 25%;
  margin-top: 0;
  margin-left: 0.2em;
  margin-bottom: 0;
  margin-right: 0.2em;
}

.featureCol :first-child {
  margin-left: 0;
}

.featureCol :last-child {
  margin-right: 0;
}

.featureCol :hover .imgContainer h4 {
  display: none;
}

/* ---- News ---- */
.newsSection {
  max-width: 1170px;
  margin: 8em auto 6em auto;
}

/* ---- Ad Banner ---- */
.adBannerSection {
  height: 565px;
  max-width: 1920px;
  background: url(../image/veriu-banner.jpg);
  position: relative;
  width: 100%;
  margin-top: auto;
  margin-left: auto;
  margin-bottom: auto;
  margin-right: auto;
}

/* ---- Footer ---- */
footer {
  text-align: center;
  width: 1170px;
  margin-top: 5em;
  margin-left: auto;
  margin-bottom: auto;
  margin-right: auto;
}

/* ================================= 
  Page Elements
==================================== */
/* ---- Header Nav ---- */
.navBorder {
  height: 100px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.logoHeader {
  display: inline-block;
  width: 6.875em;
}

.containerLogo {
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  padding: 1.25em 3.125em 0 5em;
  float: left;
  height: inherit;
}

.containerPhone {
  float: left;
  padding: 2.9em 0 0 3.125em;
  font-size: 0.875em;
  font-weight: 700;
}

.containerNav {
  display: inline-block;
  padding: 2.5em 1.2em 0 0;
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  height: inherit;
}

.containerNav label {
  display: none;
}

.containerBtn {
  display: inline-block;
  padding-top: 2.5em 5em 0 2.6em;
}

.numberPhone {
  font-size: inherit;
  font-weight: 300;
  padding-left: 5px;
}

.dropdownNav .navText {
  font-size: 0.875em;
  font-weight: 400;
  display: inline-block !important;
}

.dropdownNav .navText :hover {
  color: rgba(255, 255, 255, 0.7);
}

.dropdownNav input[type=checkbox] {
  display: none;
}

.dropdownNav input:checked ~ .dropdownContent {
  display: block;
}

.dropdownNav input:not(:checked) ~ .dropdownContent {
  display: none;
}

.dropdownContent {
  margin-top: .7em;
  position: absolute;
  z-index: 1;
  background-color: #f1f1f1;
  display: none;
  padding-left: 1.2em;
  min-width: 15em;
  border-radius: 0.5em;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdownContent a {
  display: block;
  text-align: left;
}

.dropdownContent a:hover {
  color: #f67f21;
}

.toggleInput + label:after {
  font-size: 1em;
  font-weight: 900;
  color: #f1f1f1;
  content: '\f107';
  padding-left: 0.3em;
  font-family: "Font Awesome 5 Free";
}

.toggleInput + label:after :checked {
  content: '\f106';
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  padding-right: 2rem;
}

nav li i {
  padding-left: 5px;
}

nav a {
  font-size: 0.875em;
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}

nav a :hover {
  color: rgba(255, 255, 255, 0.7);
}

.navMobile,
#hamburger {
  display: none;
}

/* ---- Slider ---- */
.bannerSlider {
  display: none;
}

.slideImg {
  width: 100%;
}

.slideContainer {
  position: relative;
  max-width: 100%;
  margin: auto;
}

.slideCaption {
  position: absolute;
  bottom: 38%;
  width: 100%;
  text-align: center;
}

.slideCaption h4 {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 0;
  padding-bottom: 3em;
  letter-spacing: .1em;
}

.dot {
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  height: 12px;
  border-radius: 50%;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
  width: 12px;
  margin-top: 24px;
  margin-left: 0;
  margin-bottom: 24px;
  margin-right: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dot :hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.activeDot {
  background-color: white;
  -webkit-box-shadow: 0 0 10px #f67f21;
          box-shadow: 0 0 10px #f67f21;
}

.verLine {
  width: 8px;
  height: 350px;
  border-right: 1px solid rgba(255, 255, 255, 0.4);
}

.dotContainer {
  position: absolute;
  right: 11.5%;
  bottom: 0;
}

.prev,
.next {
  display: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 50%;
  font-size: 2em;
  font-weight: 300;
}

.prev {
  padding-left: 2em;
}

.next {
  right: 0;
  padding-right: 2em;
}

.prev:hover,
.next:hover {
  opacity: .5;
}

/* ---- Button ---- */
.detailBtn {
  border: 1px solid #514445;
  border-radius: 2em;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  color: #352c2d;
  padding-top: 1.1em;
  padding-right: 2em;
  padding-bottom: 1.1em;
  padding-left: 2em;
  font-size: 0.875em;
  font-weight: 400;
}

.detailBtn :hover {
  opacity: .6;
}

.detailBtnWhite {
  border: 1px solid #fff;
  border-radius: 2em;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  color: white;
  padding-top: 1.1em;
  padding-right: 2em;
  padding-bottom: 1.1em;
  padding-left: 2em;
  font-size: 0.875em;
  font-weight: 400;
}

.detailBtnWhite :hover {
  opacity: .6;
}

.btn {
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  border-radius: 2em;
  background-color: white;
  text-align: center;
  text-transform: uppercase;
  color: #352c2d;
  padding-top: 1.1em;
  padding-right: 2.2em;
  padding-bottom: 1.1em;
  padding-left: 2.2em;
}

.btn :hover {
  background-color: #d6d6d6;
}

.btnBook i {
  margin-right: .7em;
  color: #f67f21;
}

.btnBook :hover {
  opacity: .6;
}

.submitBtn {
  cursor: pointer;
  border: none;
  height: 150px;
  border-radius: 0;
  background-color: #f67f21;
  text-align: center;
  text-transform: uppercase;
  color: white;
  padding-top: 1.1em;
  padding-right: 2.2em;
  padding-bottom: 1.1em;
  padding-left: 2.2em;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.4em;
  width: 230px;
  margin-top: 0;
  margin-left: auto;
  margin-bottom: 0;
  margin-right: auto;
  position: absolute;
  right: 0;
}

.submitBtn :hover {
  opacity: .9;
}

.submitBtn :focus {
  outline: 0;
}

.submitBtnIcon {
  font-size: 2.7em;
  font-weight: 300;
  opacity: .4;
}

.submitBtnText {
  text-align: left;
  display: inline-block;
  padding-left: 1em;
}

.submitBtnText > p {
  line-height: 1.5;
}

/* ---- Booking Form ---- */
.checkin {
  width: 24.5%;
  margin-top: 1.7em;
  margin-left: 1.8em;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.checkout {
  width: 24.5%;
  margin-top: 1.7em;
  margin-left: 2.5em;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.location {
  width: 24.5%;
  margin-top: 1.7em;
  margin-left: 2.5em;
}

input[type=text] {
  color: #352c2d;
  font-weight: 300;
  border: none;
  display: inline-block;
  font-size: 1.5em;
  max-width: 150px;
  margin-bottom: 0.6em;
  margin-top: 1em;
}

.datepickerDate {
  display: block;
  font-size: 2.5em;
  font-weight: 700;
}

.datepickerMonthYear {
  display: block;
  font-size: 0.8em;
  text-transform: uppercase;
}

.datepickerDayName {
  font-size: 0.8em;
  color: #f67f21;
}

.whereIcon {
  float: left;
  padding-top: 1rem;
}

select {
  width: 15em;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 0;
  cursor: pointer;
  font-size: 0.8125em;
  background: rgba(255, 255, 255, 0);
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

select .selectIcon {
  background: url(../image/where-icon.png);
  background-repeat: no-repeat;
  background-position: 95% 55%;
}

.containerSelect {
  padding-top: 2.3em;
  padding-left: 2.5em;
}

form {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: white;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  height: 150px;
}

/* ---- About ---- */
.horizonLine {
  height: 1px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin-left: 5em;
  margin-top: .3em;
}

/* ---- Features ---- */
.imgContainer {
  position: relative;
  text-align: center;
  width: 100%;
}

.imgContainer img {
  width: 100%;
  height: auto;
  display: block;
}

.imgContainer h4 {
  position: absolute;
  bottom: 15%;
  left: 50%;
  letter-spacing: .2em;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.overlayImage {
  position: absolute;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  background: rgba(0, 0, 0, 0.65);
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
  text-align: center;
}

.overlayImage :hover {
  opacity: 1;
}

.overlayImage img {
  height: 80px;
  opacity: .4;
}

.overlayImage h4 {
  letter-spacing: .2em;
  margin: 1em 0 2em 0;
}

.overlayImage p {
  width: 80%;
  margin-top: 0;
  margin-left: auto;
  margin-bottom: 4em;
  margin-right: auto;
}

/* ---- News ---- */
.newsHeader {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5em;
}

.leftHorizonLine {
  width: 5.15em;
  margin-top: 0.3em;
  margin-right: 1em;
  height: 1px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.rightHorizonLine {
  width: 5.15em;
  margin-top: 0.3em;
  margin-left: 1em;
  height: 1px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.newsContainer {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.articleContainer {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #f1f1f1;
  max-width: 370px;
  margin-left: 1.9em;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

.articleContainer :hover {
  background-color: white;
  -webkit-box-shadow: -1px 0px 13px 3px rgba(0, 0, 0, 0.21);
          box-shadow: -1px 0px 13px 3px rgba(0, 0, 0, 0.21);
}

.articleContainer :first-child {
  margin-left: 0;
}

.textContainer {
  padding: 2em 1.5em;
}

.textContainer h5 {
  font-weight: 300;
  margin-bottom: 1.5em;
}

.textContainer a {
  color: #352c2d;
  font-size: 1.1em;
}

.textContainer a :hover {
  color: #f67f21;
}

.articleAuthor {
  padding-top: 1em;
  font-weight: 400 !important;
}

.articleAuthor span {
  color: #352c2d;
}

/* ---- Ad Banner ---- */
.bannerAd {
  color: white;
}

.adBannerContainer {
  text-align: center;
}

.veriu {
  position: absolute;
  right: 1.3em;
  bottom: 2.5em;
  z-index: 2;
}

.veriu :hover {
  opacity: .5;
}

.veriuBackground {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 300px;
  height: 300px;
  border-bottom: solid 150px #000000;
  border-right: solid 150px #000000;
  border-left: solid 150px transparent;
  border-top: solid 150px transparent;
}

.adBannerContent {
  padding-top: 4em;
}

.adBannerContent p {
  width: 50%;
  margin-top: 0;
  margin-left: auto;
  margin-bottom: 0;
  margin-right: auto;
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.9);
  padding-top: 1em;
  padding-bottom: 5em;
}

/* ---- Footer ---- */
.socialLink {
  margin-top: 2em;
  margin-bottom: 2em;
}

.socialLink a {
  margin-left: 1.2em;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.1em;
}

.socialLink a :hover {
  color: #f67f21;
}

.socialLink a :first-child {
  margin-left: 0;
}

.footerNav li {
  list-style-type: none;
  display: inline-block;
  padding-left: 1.7em;
  padding-bottom: 1.7em;
}

.footerNav li :first-child {
  padding-left: 0;
}

.footerNav li a :hover {
  color: #f67f21;
}

.bottomFooter span {
  font-size: .7em;
  color: rgba(0, 0, 0, 0.4);
  padding-bottom: 1em;
}

.bottomFooter ul {
  padding: 0;
}

.bottomFooter li {
  list-style-type: none;
  display: inline-block;
  padding-left: 1.7em;
}

.bottomFooter li :first-child {
  padding-left: 0;
}

.bottomFooter li a {
  font-size: 0.9em;
  font-weight: 300;
  color: #352c2d;
}

.bottomFooter li a :hover {
  color: #f67f21;
}

.topFooter {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 1em;
}

.bottomFooterContainer {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
}

.newsletterFooter h5 {
  margin-top: 1.5em;
  margin-bottom: 1.3em;
  letter-spacing: 0;
}

input[type=email] {
  font-size: 0.8em;
  font-weight: 300;
  border: 0;
  width: 250px;
  color: rgba(0, 0, 0, 0.4);
  font-style: italic;
  padding-bottom: .5em;
}

input[type=email] :focus {
  outline: none;
}

.newsletterContainer {
  border-bottom: 1px solid #f67f21;
}

.newsletterContainer button {
  border: 0;
  cursor: pointer;
  font-size: 1.2em;
  color: #f67f21;
  background: transparent;
}

.newsletterContainer button :focus {
  outline: none;
}

.newsletterContainer button :hover {
  opacity: .6;
}

/* ---- Clearfix ---- */
.clearFix::after {
  content: "";
  display: table;
  clear: both;
}
/*# sourceMappingURL=style.css.map */