//Variables
$color-white: rgba(255,255,255,1);
$color-black: rgba(53,44,45,1);
$color-dark-grey:rgba(0,0,0,0.4);
$color-grey: rgba(241,241,241,1);
$color-orange: rgba(246,127,33,1);
$color-link: rgba(255, 255, 255, 0.5);
$color-link-hover: rgba(255, 255, 255, 0.7);
$box-shadow: 0px 8px 30px 0px rgba(0,0,0,0.2);
$border-white: 1px solid rgba(255, 255, 255, 0.4);
$border-grey: 1px solid rgba(0,0,0,0.2);
$primary-font: 'Lato', sans-serif;
$width-grid-desktop: 1170px;
$height-header: 100px;
$border-white: 1px solid rgba(255, 255, 255, 0.4);
$border-grey: 1px solid rgba(0,0,0,0.2);
$shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

//Extends
%uppercase-white {
    text-transform: uppercase;
    color: $color-white;
}
%uppercase-black {
    text-transform: uppercase;
    color: $color-black;
}
%nav-a {
    list-style-type: none;
    display: inline;
}
%animation {
    transition: opacity 0.3s ease;
}
%form-label {
    color: $color-orange;
    text-transform: uppercase;
    line-height: 0;
}
%check-label {
    display: block;
    margin-top: 1em;
}

//Mixins
@mixin fontHeader (
    $size,
    $weight,
    $line-height:null) {
        font: {
            size: $size;
            weight: $weight;
        }
        line-height: $line-height;
}
@mixin positionItem (
    $position,
    $t-position:null,
    $r-position:null,
    $b-position:null,
    $l-position:null,
    $z-index:null) {
        position: $position;
        top: $t-position;
        right: $r-position;
        bottom: $b-position;
        left: $l-position;
        z-index: $z-index;
}
@mixin colHeader (
    $width:null,
    $float:null,
    $height:null) {
        width: $width;
        float: $float;
        height: $height;
}
@mixin marginCenter (
    $width,
    $t-margin:null,
    $l-margin:null,
    $b-margin:null,
    $r-margin:null) {
        width: $width;
        margin: {
            top: $t-margin;
            left: $l-margin;
            bottom: $b-margin;
            right: $r-margin;
        }
}
@mixin dropdownContent (
    $background,
    $display,
    $padding-left,
    $min-width,
    $border-radius,
    $box-shadow) {
        background-color: $background;
        display: $display;
        padding-left: $padding-left;
        min-width: $min-width;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
}
@mixin dropdownContent_a (
    $display,
    $text-align) {
        display: $display;
        text-align: $text-align;
}
@mixin btn (
    $b-radius,
    $background:null,
    $t-align:center,
    $t-transform:uppercase,
    $color:null,
    $t-padding:null,
    $r-padding:null,
    $b-padding:null,
    $l-padding:null) {
        border-radius: $b-radius;
        background-color: $background;
        text-align: $t-align;
        text-transform: $t-transform;
        color: $color;
        padding: {
            top: $t-padding;
            right: $r-padding;
            bottom: $b-padding;
            left: $l-padding;
        }
}
@mixin input-text (
    $size:null,
    $m-width:null,
    $b-margin:null,
    $t-margin:null) {
        font-size: $size;
        max-width: $m-width;
        margin-bottom: $b-margin;
        margin-top: $t-margin;   
}
@mixin datepicker (
    $display:null,
    $size:null,
    $weight:null,
    $t-transform:null,
    $color:null) {
        display: $display;
        font-size: $size;
        font-weight: $weight;
        text-transform: $t-transform;
        color: $color; 
}
@mixin display-flex (
    $f-direction,
    $display:flex,
    $align:null,
    $wrap:null,
    $justify:null) {
        flex-direction: $f-direction;
        display: $display;
        align-items: $align;
        flex-wrap: $wrap;
        justify-content: $justify;
}

/* ================================= 
  Base Element Styles
==================================== */
* {
	box-sizing: border-box;
}
body {
    @include fontHeader(1em, 400, 1.5);
    font-family: $primary-font;
	color: $color-black;
	background: $color-white;
    overflow-x: hidden;
    margin: 0;
}
a {
    text-decoration: none;
}
p {
    @include fontHeader(1em, 300);
}
h1 {
    @include fontHeader(4.375em, 700, 0);
    @extend %uppercase-white;
    letter-spacing: .15em;
    margin-top: 0;  
}
h2 {
    @include fontHeader(3.125em, 300, 1.1);
}
h3 {
    @include fontHeader(2.5em, 700, 0);
    @extend %uppercase-black;
}
h4 {
    @include fontHeader(1.5em, 400, 0);
    @extend %uppercase-white;
    margin: 0;
}
h5 {
    @include fontHeader(0.8125em, 400, 0);
    text-transform: uppercase;
    color: $color-orange;
    margin: 0;
    letter-spacing: .2em;
}

/* ================================= 
  Base Layout Styles
==================================== */
/* ---- Header Nav ---- */
.navHeader {
    width: 100%;
    background: $color-black;
    @include positionItem (
        fixed,
        $t-position:0,
        $z-index:3);
}
.leftHeader {
    @include colHeader (
        $width:30%,
        $float:left,
        $height:inherit);
}
.rightHeader {
    text-align: right;
    @include colHeader (
        $width:70%,
        $float:right,
        $height:inherit);
}
/* ---- Slider ---- */
.slider {
    position: relative;
}

/* ---- Form ---- */
.bookingForm {
    width: 100%;
    @include positionItem (
        absolute,
        $b-position:-8%,
        $z-index:2);
}
.containerForm {
    position: relative;
    @include marginCenter(
        $width-grid-desktop,
        $t-margin:auto,
        $l-margin:auto,
        $b-margin:auto,
        $r-margin:auto);
}
/* ---- About ---- */
.aboutSection {
    margin: auto;
    max-width: 1170px;
}
.aboutContainer {
    margin-top: 12em;
}
.aboutCol {
    padding: 0 2em;
    :first-child {
        padding-left: 0;
        float: left;
    }
    :last-child {
        padding-right: 0;
        float: right;
        text-align: right;
    }
    > p {
        line-height: 1.7em;
        margin-bottom: 1.5em;
    }
    > div > h5 {
        float: left;
        margin-top: 0;
        padding-top: 0;
    }
    > div > p {
        margin-right: 2em;
    }
    @include marginCenter (
        50%,
        $b-margin:10em);
}
.detailBtnContainer {
    margin-top: 4em;
}
.aboutImgContainer {
    position: relative;
}
.img2Container {
    @include positionItem (
        absolute,
        $r-position:-8em,
        $b-position:-8em);
}
.img2about {
    border: 1.3em solid $color-white;
}

/* ---- Features ---- */
.featureContainer {
    display: flex;
    max-width: 1920px;
    @include marginCenter(
        100%,
        $t-margin:0,
        $l-margin:auto,
        $b-margin:0,
        $r-margin:auto);
}
.featureCol {
    flex-direction: row;
    position: relative;
    overflow: hidden;
    :first-child {
        margin-left: 0;
    }
    :last-child {
        margin-right: 0;
    }
    :hover .imgContainer h4 {
        display: none;
    }
    @include marginCenter (
        25%,
        $t-margin:0,
        $r-margin:.2em,
        $b-margin:0,
        $l-margin:.2em);
}

/* ---- News ---- */
.newsSection {
    max-width: 1170px;
    margin: 8em auto 6em auto;
}

/* ---- Ad Banner ---- */
.adBannerSection {
    height: $height-header + 465px;
    max-width: 1920px;
    background: url(../image/veriu-banner.jpg);
    position: relative;
    @include marginCenter(
        100%,
        $t-margin:auto,
        $r-margin:auto,
        $b-margin:auto,
        $l-margin:auto);
}

/* ---- Footer ---- */
footer {
    text-align: center;
    @include marginCenter (
        $width-grid-desktop,
        $t-margin:5em,
        $r-margin:auto,
        $b-margin:auto,
        $l-margin:auto); 
}

/* ================================= 
  Page Elements
==================================== */
/* ---- Header Nav ---- */
.navBorder {
    height: $height-header;
    border-bottom: $border-white;
}
.logoHeader {
    display: inline-block;
    width: 6.875em;
}
.containerLogo {
    border-right: $border-white;
    padding: 1.25em 3.125em 0 5em;
    @include colHeader (
        $float:left,
        $height:inherit);
}
.containerPhone {
    float: left;
    padding: 2.9em 0 0 3.125em;
    @extend %uppercase-white;
    @include fontHeader(0.875em, 700);
}
.containerNav {
    display: inline-block;
    padding: 2.5em 1.2em 0 0;
    border-right: $border-white;
    height: inherit;
    label {
    display: none;
    }
}
.containerBtn {
    display: inline-block;
    padding-top: 2.5em 5em 0 2.6em;
}
.numberPhone {
    @extend %uppercase-white;
    @include fontHeader(inherit, 300);
    padding-left: 5px;
}
.dropdownNav {
    .navText {
        @extend %uppercase-white;
        @include fontHeader(0.875em, 400);
        display: inline-block !important;
        :hover {
            color: $color-link-hover;
        }
    }
    input[type=checkbox] {
        display: none
    }
    input:checked ~ .dropdownContent {
        display: block;
    }
    input:not(:checked) ~ .dropdownContent {
        display: none;
    }
}
.dropdownContent {
    margin-top: .7em;
    a {
        @include dropdownContent_a (block, left);
        @extend %uppercase-black;
    }
    a:hover {
        color: $color-orange;
    }
    @include positionItem(absolute, $z-index:1);
    @include dropdownContent ($color-grey, none, 1.2em, 15em, .5em, $shadow);
}
.toggleInput + label:after {
    @include fontHeader(1em, 900);
    color: $color-grey;
    content: '\f107';
    padding-left: 0.3em;
    font-family: "Font Awesome 5 Free";
    :checked {
        content: '\f106';
    }
}
nav {
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        @extend %nav-a;
        padding-right: 2rem;
        i {
            padding-left: 5px;
        }
    }
    a {
        @extend %nav-a;
        @include fontHeader(0.875em, 400);
        text-transform: uppercase;
        color: $color-link;
        :hover {
            color: $color-link-hover;
        }
    }
}
.navMobile,
#hamburger {
    display: none;
}
/* ---- Slider ---- */
.bannerSlider {
    display: none;
}
.slideImg {
    @include marginCenter(100%);
}
.slideContainer {
    @include positionItem(relative);
    max-width: 100%;
    margin: auto;
}
.slideCaption {
    h4 {
        @include fontHeader(1.5em, 300, 0);
        padding-bottom: 3em;
        letter-spacing: .1em;
    }
    @include positionItem(absolute, $b-position:38%);
    @include marginCenter(100%);
    text-align: center;
}
.dot {
    background-color:$color-link;
    cursor: pointer;
    height: 12px;
    border-radius: 50%;
    transition: background-color 0.6s ease;
    :hover {
        background-color: $color-link-hover;
    }
    @include marginCenter(
        12px,
        $t-margin:24px,
        $r-margin:0,
        $b-margin:24px,
        $l-margin:0);
    @include display-flex ($f-direction:column);
}
.activeDot {
    background-color: $color-white;
    box-shadow: 0 0 10px $color-orange;
}
.verLine {
    @include colHeader($width:8px, $height:350px);
    border-right: $border-white;
}
.dotContainer {
    @include positionItem(
        absolute,
        $b-position:0,
        $r-position:11.5%);
}
.prev,
.next {
    display: none;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.2);
    transition: 0.6s ease;
    user-select: none;
    @include positionItem (
        absolute,
        $t-position:50%);
    @include fontHeader(2em, 300);   
}
.prev {
    padding-left: 2em;
}
.next {
    right: 0;
    padding-right: 2em;
}
.prev:hover,
.next:hover {
    opacity: .5;
}

/* ---- Button ---- */
.detailBtn {
    border: 1px solid #514445;
    :hover {
        opacity: .6;
    }
    @include btn (
        $b-radius:2em,
        $background:transparent,
        $color:$color-black,
        $t-padding:1.1em,
        $r-padding:2em,
        $b-padding:1.1em,
        $l-padding:2em);
    @include fontHeader(.875em, 400);
    @extend %animation;
}
.detailBtnWhite {
    border: 1px solid #fff;
    :hover {
        opacity: .6;
    }
    @include btn (
        $b-radius:2em,
        $background:transparent,
        $color:$color-white,
        $t-padding:1.1em,
        $r-padding:2em,
        $b-padding:1.1em,
        $l-padding:2em);
    @include fontHeader(.875em, 400);
    @extend %animation;
}
.btn {
    transition: background-color 0.3s ease;  
    :hover {
        background-color:#d6d6d6;
    }  
    @include btn (
        $b-radius:2em,
        $background:$color-white,
        $color:$color-black,
        $t-padding:1.1em,
        $r-padding:2.2em,
        $b-padding:1.1em,
        $l-padding:2.2em);
}
.btnBook {
    @extend %uppercase-white;
    i {
        margin-right: .7em;
        color: $color-orange;
    }
    :hover {
        opacity: .6; 
    }
}
.submitBtn {
    cursor: pointer;
    border: none;
    height: 150px;
    :hover {
        opacity: .9;
    }
    :focus {
        outline: 0;
    }
    @include btn (
        $b-radius:0,
        $background:$color-orange,
        $color:$color-white,
        $t-padding:1.1em,
        $r-padding:2.2em,
        $b-padding:1.1em,
        $l-padding:2.2em);
    @include fontHeader(1em, 400, $line-height:1.4em);
    @include marginCenter(230px, $t-margin:0, $r-margin:auto, $b-margin:0, $l-margin:auto);
    @include positionItem(absolute, $r-position:0);
    @extend %animation;
}
.submitBtnIcon {
    @include fontHeader(2.7em, 300);
    opacity: .4;
}
.submitBtnText {
    text-align: left;
    display: inline-block;
    padding-left: 1em;
    > p {
        line-height: 1.5;
    }
}

/* ---- Booking Form ---- */
.checkin{
    @include marginCenter(
        24.5%,
        $t-margin:1.7em,
        $l-margin:1.8em);
    border-right: $border-grey;
    label {
    @extend %form-label;
    @extend %check-label;
    }  
}
.checkout {
    @include marginCenter(
        24.5%,
        $t-margin:1.7em,
        $l-margin:2.5em);
    border-right: $border-grey;
    label {
    @extend %form-label;
    @extend %check-label;
    }
}
.location {
    @include marginCenter(
        24.5%,
        $t-margin:1.7em,
        $l-margin:2.5em);
    label {
        @extend %form-label;
        }
}
input[type=text] {
    color: $color-black;
    font-weight: 300;
    border: none;
    display: inline-block;
    @include input-text (
        $size:1.5em,
        $m-width:150px,
        $b-margin:.6em,
        $t-margin:1em);
}
.datepickerDate {
    @include datepicker (
        $display:block,
        $size:2.5em,
        $weight:700);
}
.datepickerMonthYear {
    @include datepicker (
        $display:block,
        $size:.8em,
        $t-transform:uppercase);
}
.datepickerDayName {
    @include datepicker (
        $size:.8em,
        $color:$color-orange);
}
.whereIcon {
    float: left;
    padding-top: 1rem;
}
select {
    @include marginCenter (
        15em,
        $t-margin:0,
        $r-margin:0,
        $b-margin:0,
        $l-margin:0);
    @extend %uppercase-black;
    cursor: pointer;
    font-size: 0.8125em;
    background: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    appearance: none; 
    .selectIcon {
        background: url(../image/where-icon.png);
        background-repeat: no-repeat;
        background-position: 95% 55%;
    }    
}
.containerSelect {
    padding-top: 2.3em;
    padding-left: 2.5em;
}
form {
    @include display-flex (
        $f-direction:row,
        $align:flex-start,
        $wrap:wrap);
    background-color: $color-white;
    box-shadow: $shadow;
    height: 150px;
}

/* ---- About ---- */
.horizonLine {
    height: 1px;
    border-top: $border-grey;
    margin-left: 5em;
    margin-top: .3em;
}
/* ---- Features ---- */
.imgContainer {
    position: relative;
    text-align: center;
    width: 100%;
    img {
        @include colHeader(
            $width:100%,
            $height:auto);
        display: block;
    }
    h4 {
        @include positionItem(
            absolute,
            $b-position:15%,
            $l-position:50%);
        letter-spacing: .2em;
        width: 100%;
        transform: translate(-50%, -50%); 
    }
}
.overlayImage {
    @include positionItem(
        absolute,
        $t-position:0%,
        $r-position:0%,
        $b-position:0%,
        $l-position:0%);
    @include display-flex (
        $f-direction:column,
        $align:center,
        $justify:center);
    color: $color-white;
	padding-left: 20px;
	padding-right: 20px;
    background: rgba(0,0,0, .65);
    opacity: 0;
    transition: .5s;
    text-align: center;
    :hover {
        opacity: 1;
    }
    img {
        height: 80px;
        opacity: .4;
    }
    h4 {
        letter-spacing: .2em;
        margin: 1em 0 2em 0;
    }
    p {
        @include marginCenter(
            80%,
            $t-margin:0,
            $r-margin:auto,
            $b-margin:4em,
            $l-margin:auto);
    }
}

/* ---- News ---- */
.newsHeader {
    @include display-flex (
        $f-direction:row,
        $justify:center);
    margin-bottom: 5em;
}
.leftHorizonLine {
    @include marginCenter(
        5.15em,
        $t-margin:.3em,
        $r-margin:1em);
    height: 1px;
    border-top: $border-grey;
}
.rightHorizonLine {
    @include marginCenter(
        5.15em,
        $t-margin:.3em,
        $l-margin:1em);
    height: 1px;
    border-top: $border-grey;
}
.newsContainer {
    @include display-flex (
        $f-direction:row,
        $justify:center);
}
.articleContainer {
    flex-grow: 1;
    background-color: $color-grey;
    max-width: 370px;
    margin-left: 1.9em;
    transition: box-shadow 0.3s ease;
    :hover {
        background-color: $color-white;
        box-shadow: -1px 0px 13px 3px rgba(0,0,0,0.21);
    }
    :first-child {
        margin-left: 0;
    }
}
.textContainer {
    padding: 2em 1.5em;
    h5 {
        font-weight: 300;
        margin-bottom: 1.5em;
    }
    a {
        color: $color-black;
        font-size: 1.1em;
        :hover {
            color: $color-orange; 
        }
    }
}
.articleAuthor {
    padding-top: 1em;
    font-weight: 400 !important;
    span {
        color: $color-black;
    }
}

/* ---- Ad Banner ---- */
.bannerAd {
    color: $color-white;
}
.adBannerContainer {
    text-align: center;
}
.veriu {
    @include positionItem(
        absolute,
        $r-position:1.3em,
        $b-position:2.5em,
        $z-index:2);
    @extend %animation;
    :hover {
        opacity: .5;
    }
}
.veriuBackground {
    @include positionItem (
        absolute,
        $r-position:0,
        $b-position:0,
        $z-index:1);
    @include colHeader(
        $width:300px,
        $height:300px);
    border-bottom: solid 150px #000000;
    border-right: solid 150px #000000;
    border-left: solid 150px transparent;
    border-top: solid 150px transparent;
}
.adBannerContent {
    padding-top: 4em;
    p {
        @include marginCenter(
            50%,
            $t-margin:.0,
            $r-margin:auto,
            $b-margin:0,
            $l-margin:auto);
        @include fontHeader(
            1.4em,
            300,
            $line-height:1.6);
        color: rgba(255, 255, 255, .9);
        padding-top: 1em;
        padding-bottom: 5em; 
    }
}

/* ---- Footer ---- */
.socialLink {
    margin-top: 2em;
    margin-bottom: 2em;
    a {
        margin-left: 1.2em;
        color: rgba(0,0,0,0.5);
        font-size: 1.1em;
        :hover {
            color: $color-orange;
        }
        :first-child {
            margin-left: 0;
        }
    }
}
.footerNav {
    li {
        list-style-type: none;
        display: inline-block;
        padding-left: 1.7em;
        padding-bottom: 1.7em;
        :first-child {
            padding-left: 0;
        }
        a {
            @extend %uppercase-black;
            :hover {
                color: $color-orange;
            }
        }
    }
}
.bottomFooter {
    span {
        font-size: .7em;
        color: $color-dark-grey;
        padding-bottom: 1em;
    }
    ul {
        padding: 0; 
    }
    li {
        list-style-type: none;
        display: inline-block;
        padding-left: 1.7em;
        :first-child {
            padding-left: 0;
        }
        a {
            @include fontHeader(.9em, 300);
            color: $color-black;
        :hover {
            color: $color-orange;
            }
        }
    }
}
.topFooter {
    border-bottom: $border-grey;
    margin-bottom: 1em;
}
.bottomFooterContainer {
    @include display-flex (
        $f-direction:row,
        $justify:space-between);
    text-align: left;
}
.newsletterFooter h5 {
    margin-top: 1.5em;
    margin-bottom: 1.3em;
    letter-spacing: 0;
}
input[type=email] {
    @include fontHeader(.8em, 300);
    border: 0;
    width: 250px;
    color: $color-dark-grey;
    font-style: italic;
    padding-bottom: .5em;
    :focus {
        outline: none;
    }
}
.newsletterContainer {
    border-bottom: 1px solid $color-orange;
    button {
        border: 0;
        cursor: pointer;
        font-size: 1.2em;
        color:$color-orange;
        background: transparent;
        :focus {
            outline: none;
        }
        :hover {
            opacity: .6;
        }
    }
}

/* ---- Clearfix ---- */
.clearFix::after {
    content: "";
    display: table;
    clear: both;
}