//Variables
$color-white: rgba(255,255,255,1);
$color-black: rgba(53,44,45,1);
$color-grey: rgba(241,241,241,1);
$color-orange: rgba(246,127,33,1);
$box-shadow: 0px 8px 30px 0px rgba(0,0,0,0.2);
$border-white: 1px solid rgba(255, 255, 255, 0.4);
$border-grey: 1px solid rgba(0,0,0,0.2);
$primary-font: 'Lato', sans-serif;
$width-grid-desktop: 1170px;
$height-header: 100x;
$border-white: 1px solid rgba(255, 255, 255, 0.4);
$border-grey: 1px solid rgba(0,0,0,0.2);
$shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

//Extends
%uppercase-white {
    text-transform: uppercase;
    color: $color-white;
}
%uppercase-black {
    text-transform: uppercase;
    color: $color-black;
}
%nav-a {
    list-style-type: none;
    display: inline;
}


//Mixins
@mixin fontHeader($size, $weight, $line-height:null) {
    font: {
        size: $size;
        weight: $weight;
    }
    line-height: $line-height;
}
@mixin position($position, $z-index:null) {
    position: $position;
    z-index: $z-index;
}
@mixin colHeader($width, $float, $height:inherit) {
    width: $width;
    float: $float;
    height: $height;
}
@mixin marginCenter($width, $t-margin:null, $l-margin:null, $b-margin:null, $r-margin:null) {
        width: $width;
        margin: {
            top: $t-margin;
            left: $l-margin;
            bottom: $b-margin;
            right: $r-margin;
        }
}
@mixin dropdownContent ($background, $display, $padding-left, $min-width, $border-radius, $box-shadow) {
    background-color: $background;
    display: $display;
    padding-left: $padding-left;
    min-width: $min-width;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
}
@mixin dropdownContent_a ($display, $text-align) {
    display: $display;
    text-align: $text-align;
}

/* ================================= 
  Base Element Styles
==================================== */
* {
	box-sizing: border-box;
}
body {
    @include fontHeader(1em, 400, 1.5);
    font-family: $primary-font;
	color: $color-black;
	background: $color-white;
    overflow-x: hidden;
    margin: 0;
}
a {
    text-decoration: none;
}
p {
    @include fontHeader(1em, 300);
}
h1 {
    @include fontHeader(4.375em, 700, 0);
    @extend %uppercase-white;
    letter-spacing: .15em;
    margin-top: 0;  
}
h2 {
    @include fontHeader(3.125em, 300, 1.1);
}
h3 {
    @include fontHeader(2.5em, 700, 0);
    @extend %uppercase-black;
}
h4 {
    @include fontHeader(1.5em, 400, 0);
    @extend %uppercase-white;
    margin: 0;
}
h5 {
    @include fontHeader(0.8125em, 400, 0);
    color: $color-orange;
    margin: 0;
    letter-spacing: .2em;
}

/* ================================= 
  Base Layout Styles
==================================== */
/* ---- Header Nav ---- */
.navHeader {
    @include navHeader(fixed);
    width: 100%;
    top: 0;
    background: $color-black;
}
.leftHeader {
    @include colHeader(30%, left);
}
.rightHeader {
    @include colHeader(70%, right);
    text-align: right;
}
/* ---- Slider ---- */
.slider {
    position: relative;
}

/* ---- Form ---- */
.bookingForm {
    @include postion(absolute, 2);
    width: 100%;
    bottom: -8%;
}
.containerForm {
    @include marginCenter($width-grid-desktop, 0 auto 0 auto);
    position: relative;
}
/* ---- About ---- */
.aboutSection {
    @include mmarginCenter($width-grid-desktop, 0 auto 0 auto);
}
.aboutContainer {
    margin-top: 12em;
}
.aboutCol {
    :first-child {
        padding-left: 0;
        float: left;
    }
    :last-child {
        padding-right: 0;
        float: right;
        text-align: right;
    }
    .detailBtnContainer {
        margin-top: 4em;
    }
    margin-bottom: 10em;
    width: 50%;
    padding: 0 2em;
}
.aboutImgContainer {
    position: relative;
}
.img2Container {
    position: absolute;
    bottom: -8em;
    right: -8em;
}
.img2about {
    border: 1.3em solid #fff;
}

/* ---- Features ---- */
.featureContainer {
    @include marginCenter($width-grid-desktop, 0 auto 0 auto);
    display: flex;
    max-width: 1920px;
}
.featureCol {
    @include marginCenter(25%, 0 .2em 0 .2em);
    flex-direction: row;
    position: relative;
    overflow: hidden;
    :first-child {
        margin-left: 0;
    }
    :last-child {
        margin-right: 0;
    }
}

/* ---- News ---- */
.newsSection {
    @include marginCenter($width-grid-desktop, 8em auto 6em auto);
}

/* ---- Ad Banner ---- */
.adBannerSection {
    @include marginCenter(100%, 0 auto 0 auto);
    height: $height-header + 465px;
    max-width: 1920px;
    background: url(../image/veriu-banner.jpg);
    position: relative;
}

/* ---- Footer ---- */
footer {
    @include marginCenter($width-grid-desktop, 5em auto 0 auto);
    text-align: center;
}

/* ================================= 
  Page Elements
==================================== */
/* ---- Header Nav ---- */
.navBorder {
    height: $height-header;
    border-bottom: $border-white;
}
.logoHeader {
    display: inline-block;
    width: 6.875em;
}
.containerLogo {
    @include colHeader(auto, left);
    border-right: $border-white;
    padding: 1.25em 3.125em 0 5em;
}
.containerPhone {
    @extend %uppercase-white;
    @include fontHeader(0.875em, 700);
    float: left;
    padding: 2.9em 0 0 3.125em;
}
.containerNav {
    display: inline-block;
    padding-top: 2.5em 1.2em 0 0;
    border-right: $border-white;
    height: inherit;
    label {
    display: none;
    }
}
.containerBtn {
    display: inline-block;
    padding-top: 2.5em 5em 0 2.6em;
}
.numberPhone {
    @extend %uppercase-white;
    @include fontHeader(inherit, 300);
    padding-left: 5px;
}
.dropdownNav {
    .navText {
        @extend %uppercase-white;
        @include fontHeader(0.875em, 400);
        display: inline-block !important;
        :hover {
            color: rgba(255, 255, 255, 0.7);
        }
    }
    input[type=checkbox] {
        display: none
    }
    input:checked ~ .dropdownContent {
        display: block;
    }
    input:not(:checked) ~ .dropdownContent {
        display: none;
    }
}
.dropdownContent {
    @include position(absolute, 1);
    @include dropdownContent ($color-grey, none, 1.2em, 15em, .5em, $shadow);
    margin-top: .7em;
    a {
        @include dropdownContent_a (block, left);
        @extend %uppercase-black;
    }
    a:hover {
        color: $color-orange;
    }
}
.toggleInput + label:after {
    @include fontHeader(1em, 900);
    color: $color-grey;
    content: '\f107';
    padding-left: 0.3em;
    font-family: "Font Awesome 5 Free";
    :checked {
        content: '\f106';
    }
}
nav {
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        @extend %nav-a;
        padding-right: 2rem;
        i {
            padding-left: 5px;
        }
    }
    a {
        @extend %nav-a;
        @include fontHeader(0.875em, 400);
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.5);
        :hover {
            color: rgba(255, 255, 255, 0.7);
        }
    }
}
.navMobile,
#hamburger {
    display: none;
}
/* ---- Slider ---- */
.bannerSlider {
    display: none;
}
.slideImg {
    width: 100%;
}
.slideContainer {
    max-width: 100%;
    position: relative;
    margin: auto;
}
.slideCaption {
    h4 {
        @include fontHeader(1.5em, 300, 0);
        padding-bottom: 3em;
        letter-spacing: .1em;
    }
    @include position(absolute);
    @include marginCenter(100%);
    top:38%;
    text-align: center;
}
.dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 24px 0;
    background-color:rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    transition: background-color 0.6s ease;
}
.dot:hover {
    background-color: rgba(255, 255, 255, 0.7);
}
.activeDot {
    background-color: #fff;
    box-shadow: 0 0 10px #f67f21;
}
.verLine {
    border-right: 1px solid #fff;
    height: 350px;
    width: 8px;
}
.dotContainer {
    position: absolute;
    bottom: 0;
    right: 11.5%;
}
.prev,
.next {
    display: none;
    position: absolute;
    cursor: pointer;
    top: 50%;
    color: rgba(255, 255, 255, 0.2);
    font-size: 2em;
    transition: 0.6s ease;
    user-select: none;
}
.prev {
    padding-left: 2em;
}
.next {
    right: 0;
    padding-right: 2em;
}
.prev:hover,
.next:hover {
    opacity: .5;
}

/* ---- Button ---- */
.detailBtn,
.detailBtnWhite {
    border-radius: 2em;
    background-color: transparent;
    text-align: center;
    padding: 1.1em 2em;
    transition: opacity 0.3s ease;
    font-size: .875em;
    font-weight: 400;
}
.detailBtn {
    border: 1px solid #514445;
    color: #514445;
}
.detailBtnWhite {
    border: 1px solid #fff;
    color: #fff;
}
.detailBtnWhite:hover,
.detailBtn:hover {
    opacity: .6;
}
.btn {
    border-radius: 2em;
    background-color: #fff;
    text-align: center;
    padding: 1.1em 2.2em;
    color: #514445;
    transition: background-color 0.3s ease;    
}
.btn:hover {
    background-color:#d6d6d6;
}
.btnBook i {
    margin-right: .7em;
    color: #f67f21;
}
.btnBook:hover {
    opacity: .6;
}
.submitBtn {
    cursor: pointer;
    background-color: #f67f21;
    color: #fff;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.4em;
    border: none;
    height: 150px;
    width: 230px;
    margin: auto;
    position: absolute;
    right: 0;
    transition: opacity 0.3s ease;
}
.submitBtn:hover {
    opacity: .9;
}
.submitBtn:focus {
    outline: 0;
}
.submitBtnIcon {
    font-size: 2.7em;
    opacity: .4;
}
.submitBtnText {
    text-align: left;
    display: inline-block;
    padding-left: 1em;
}
.submitBtnText > p {
    line-height: 1.5;
}
/* ---- Booking Form ---- */
.checkin label,
.checkout label {
    display: block;
    margin-top: 1em;
}
.checkin label,
.checkout label,
.location label {
    color: #f67f21;
    text-transform: uppercase;
    line-height: 0;
}
input[type=text] {
    border: none;
    margin-top: 1em;
    display: inline-block;
    font-size: 1.5em;
    font-weight: 300;
    color: #352c2d;
    margin-bottom: .6em;
    max-width: 150px;
}
.datepickerDate {
    display:block;
    font-size: 2.5em;
    font-weight: 700;
}
.datepickerMonthYear {
    display:block;
    font-size: .8em;
    text-transform: uppercase;
}
.datepickerDayName {
    font-size: .8em;
    color: #f67f21; 
}
.whereIcon {
    float: left;
    padding-top: 1rem;
}
select {
    cursor: pointer;
    font-size: 0.8125em;
    background: rgba(255, 255, 255, 0);
    border: none;
    color:#352c2d;
    width: 15em;
    text-transform: uppercase;
    outline: none;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;      
}
select.selectIcon {
    background: url(../image/where-icon.png);
    background-repeat: no-repeat;
    background-position: 95% 55%;
}
.containerSelect {
    padding-top: 2.3em;
    padding-left: 2.5em;
}
.checkin,
.checkout,
.location {
    width: 24.5%;
    margin-top: 1.7em;
}
.location {
    margin-left: 2.5em;
}
.checkout {
    border-right: 1px solid rgba(0,0,0,0.2);
    margin-left: 2.5em;
}
.checkin {
    border-right: 1px solid rgba(0,0,0,0.2);
    margin-left: 1.8em;
}
form {
    background-color: #fff;
    box-shadow: 0px 8px 30px 0px rgba(0,0,0,0.2);
    height: 150px;
    display: flex;
	flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

/* ---- About ---- */
.aboutCol > p {
    line-height: 1.7em;
    margin-bottom: 1.5em;
}
.aboutCol > div > h5 {
    float: left;
    margin-top: 0;
    padding-top: 0;
}
.horizonLine {
    height: 1px;
    border-top:1px solid rgba(0,0,0,0.2);
    margin-left: 5em;
    margin-top: .3em;
}
.aboutCol > div > p {
    margin-right: 2em;
}

/* ---- Features ---- */
.imgContainer {
    position: relative;
    width: 100%;
}
.imgContainer img {
    display: block;
    width: 100%;
    height: auto;
}
.imgContainer h4 {
    position: absolute;
    letter-spacing: .2em;
    width: 100%;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -50%);   
}
.imgContainer {
    position: relative;
    text-align: center;
}
.overlayImage {
    color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0; 
	left: 0;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    background: rgba(0,0,0, .65);
    opacity: 0;
    transition: .5s;
    text-align: center;
}
.overlayImage:hover {
    opacity: 1;
}
.featureCol:hover  .imgContainer h4 {
    display: none;
}
.overlayImage img {
    height: 80px;
    opacity: .4;
}
.overlayImage h4 {
    letter-spacing: .2em;
    margin: 1em 0 2em 0;
}
.overlayImage p {
    width: 80%;
    margin: 0 auto 4em auto;
}

/* ---- News ---- */
.newsHeader {
    margin-bottom: 5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.leftHorizonLine,
.rightHorizonLine {
    height: 1px;
    border-top:1px solid rgba(0,0,0,0.2);
    width: 5.15em;
    margin-top: .3em;
}
.leftHorizonLine {
    margin-right: 1em;
}
.rightHorizonLine {
    margin-left: 1em;
}
.newsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.articleContainer {
    flex-grow: 1;
    background-color: #f1f1f1;
    max-width: 370px;
    margin-left: 1.9em;
    transition: box-shadow 0.3s ease;
}
.articleContainer:hover {
    background-color: #fff;
    box-shadow: -1px 0px 13px 3px rgba(0,0,0,0.21);
}
.articleContainer:first-child {
    margin-left: 0;
}
.textContainer {
    padding: 2em 1.5em;
}
.textContainer h5 {
    font-weight: 300;
    margin-bottom: 1.5em;
}
.textContainer a {
    color: #352c2d;
    font-size: 1.1em;
}
.textContainer a:hover {
    color: #f67f21; 
}
.articleAuthor {
    padding-top: 1em;
    font-weight: 400 !important;
}
.articleAuthor span {
    color: #352c2d;
}
/* ---- Ad Banner ---- */
.adBannerContainer {
    text-align: center;
}
.veriu {
    position: absolute;
    bottom: 2.5em;
    right: 1.3em;
    z-index: 2;
    transition: opacity 0.3s ease;
}
.veriu:hover {
    opacity: .5;   
}
.veriuBackground {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 300px;
    border-bottom: solid 150px #000000;
    border-right: solid 150px #000000;
    border-left: solid 150px transparent;
    border-top: solid 150px transparent;
    z-index: 1;
}
.adBannerContent {
    padding-top: 4em;
}
.adBannerContent p {
    width: 50%;
    margin: auto;
    color: rgba(255, 255, 255, .9);
    font-size: 1.4em;
    line-height: 1.6em;
    padding-top: 1em;
    padding-bottom: 5em;
}

/* ---- Footer ---- */
.socialLink {
    margin-top: 2em;
    margin-bottom: 2em;
}
.socialLink a {
    margin-left: 1.2em;
    color: rgba(0,0,0,0.5);
    font-size: 1.1em;
}
.socialLink a:first-child {
    margin-left: 0;
}
.socialLink a:hover {
    color: #f67f21;
}
.footerNav li a {
    text-transform: uppercase;
    color: #352c2d;
}
.bottomFooter li a:hover,
.footerNav li a:hover {
    color: #f67f21;
}
.footerNav li {
    list-style-type: none;
    display: inline-block;
    padding-left: 1.7em;
    padding-bottom: 1.7em;
}
.bottomFooter li:first-child,
.footerNav li:first-child {
    padding-left: 0;
}
.topFooter {
    border-bottom:1px solid rgba(0,0,0,0.2);
    margin-bottom: 1em;
}
.bottomFooterContainer {
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.bottomFooter ul {
    padding: 0;
}
.bottomFooter li a {
    color: #352c2d;
    font-size: .9em;
    font-weight: 300;
}
.bottomFooter li {
    list-style-type: none;
    display: inline-block;
    padding-left: 1.7em;
}
.bottomFooter span {
    font-size: .7em;
    color: rgba(0,0,0,0.4);
    padding-bottom: 1em;
}
.newsletterFooter h5 {
    margin-top: 1.5em;
    margin-bottom: 1.3em;
    letter-spacing: 0;
}
input[type=email] {
    border: 0;
    width: 250px;
    font-size: .8em;
    color: rgba(0,0,0,0.4);
    font-style: italic;
    font-weight: 300;
    padding-bottom: .5em;
}
.newsletterContainer {
    border-bottom: 1px solid #f67f21;
}
.newsletterContainer button {
    border: 0;
    cursor: pointer;
    font-size: 1.2em;
    color: #f67f21;
    background: transparent;
}
input[type=email]:focus,
.newsletterContainer button:focus {
    outline: none;
}
.newsletterContainer button:hover {
    opacity: .6;
}
/* ---- Clearfix ---- */
.clearFix::after {
    content: "";
    display: table;
    clear: both;
}