//Variables
$color-white: rgba(255,255,255,1);
$color-black: rgba(53,44,45,1);
$color-dark-grey:rgba(0,0,0,0.4);
$color-grey: rgba(241,241,241,1);
$color-orange: rgba(246,127,33,1);
$color-link: rgba(255, 255, 255, 0.5);
$color-link-hover: rgba(255, 255, 255, 0.7);
$box-shadow: 0px 8px 30px 0px rgba(0,0,0,0.2);
$border-white: 1px solid rgba(255, 255, 255, 0.4);
$border-grey: 1px solid rgba(0,0,0,0.2);
$primary-font: 'Lato', sans-serif;
$width-grid-desktop: 1170px;
$height-header: 100px;
$border-white: 1px solid rgba(255, 255, 255, 0.4);
$border-grey: 1px solid rgba(0,0,0,0.2);
$shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

//Extends
%uppercase-white {
    text-transform: uppercase;
    color: $color-white;
}
%uppercase-black {
    text-transform: uppercase;
    color: $color-black;
}
%nav-a {
    list-style-type: none;
    display: inline;
}
%animation {
    transition: opacity 0.3s ease;
}
%form-label {
    color: $color-orange;
    text-transform: uppercase;
    line-height: 0;
}
%check-label {
    display: block;
    margin-top: 1em;
}

//Mixins
@mixin fontHeader (
    $size,
    $weight,
    $line-height:null) {
        font: {
            size: $size;
            weight: $weight;
        }
        line-height: $line-height;
}
@mixin positionItem (
    $position,
    $t-position:null,
    $r-position:null,
    $b-position:null,
    $l-position:null,
    $z-index:null) {
        position: $position;
        top: $t-position;
        right: $r-position;
        bottom: $b-position;
        left: $l-position;
        z-index: $z-index;
}
@mixin colHeader (
    $width:null,
    $float:null,
    $height:null) {
        width: $width;
        float: $float;
        height: $height;
}
@mixin marginCenter (
    $width,
    $t-margin:null,
    $l-margin:null,
    $b-margin:null,
    $r-margin:null) {
        width: $width;
        margin: {
            top: $t-margin;
            left: $l-margin;
            bottom: $b-margin;
            right: $r-margin;
        }
}
@mixin dropdownContent (
    $background,
    $display,
    $padding-left,
    $min-width,
    $border-radius,
    $box-shadow) {
        background-color: $background;
        display: $display;
        padding-left: $padding-left;
        min-width: $min-width;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
}
@mixin dropdownContent_a (
    $display,
    $text-align) {
        display: $display;
        text-align: $text-align;
}
@mixin btn (
    $b-radius,
    $t-transform:uppercase,
    $t-align:null,
    $background:null,
    $color:null,
    $t-padding:null,
    $r-padding:null,
    $b-padding:null,
    $l-padding:null) {
        border-radius: $b-radius;
        background-color: $background;
        text-align: $t-align;
        text-transform: $t-transform;
        color: $color;
        padding: {
            top: $t-padding;
            right: $r-padding;
            bottom: $b-padding;
            left: $l-padding;
        }
}
@mixin input-text (
    $size:null,
    $m-width:null,
    $b-margin:null,
    $t-margin:null) {
        font-size: $size;
        max-width: $m-width;
        margin-bottom: $b-margin;
        margin-top: $t-margin;   
}
@mixin datepicker (
    $display:null,
    $size:null,
    $weight:null,
    $t-transform:null,
    $color:null) {
        display: $display;
        font-size: $size;
        font-weight: $weight;
        text-transform: $t-transform;
        color: $color; 
}
@mixin display-flex (
    $f-direction,
    $display:flex,
    $align:null,
    $wrap:null,
    $justify:null) {
        flex-direction: $f-direction;
        display: $display;
        align-items: $align;
        flex-wrap: $wrap;
        justify-content: $justify;
}
